div.border {
    border-style: groove;
    border-color: #98bf21;
    padding: 3px;
    border-radius: 6px;
}

#body {
    color: white;
    background-color: black;
}

body.body-color {
    color: #c7c7c7;
    background-color: black;
}

div.main {
    position: relative;
    width: 100%;
    height: 100%;
}

div.log {
    position: absolute;
    right: 0px;
    width: 90%;
    height: 99%;
    overflow: auto;
}

div.controls {
    position: absolute;
    left: 0px;
    width: 8%;
    height: 99%;
}

input.clearAll {
    width: 100%;
}

p.logEntry {
    margin: 0;
}

span.logName {
    color: #17becf;
}

span.logEntryMessage {
    color: #0c0;
}

input.logColor {
    width: 25px;
    height: 25px;
    /*border-radius: 10px;*/
}

div.exceptionBody {
    /*padding-left: 0px;*/
}
